.section {
  flex-basis: 600px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.elementsContainer {
  padding-left: 0;
  list-style-type: none;

  display: flex;
  flex-direction: column;
  gap: 10px;

  overflow: auto;
}

.constructorElement {
  gap: 8px;
}

.constructorElement:last-of-type {
  padding-bottom: 10px;
}

.constructorElement:first-of-type {
  padding-top: 10px;
}

.ingredientContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.orderContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding-bottom: 20px;
}

.sumContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
