.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  align-self: flex-start;
}

.nutritionalValue {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.nutritonItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}