.card {
  position: relative;

  cursor: pointer;

  width: 268px;
  background-color: #131316;
}

.priceContainer {
  display: flex;
  justify-content: center;
}
.price {
  margin-right: 8px;
}

.cardName {
  height: 50px;
}

.isDrag {
  opacity: 0.3;
}