.section {
  flex-basis: 600px;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.title {
  text-align: start;
}

.tabs {
  display: flex;
  list-style-type: none;
}

.ingredientsList {
  padding-left: 0;
  list-style-type: none;

  overflow: auto;
}
