.section {
  flex-basis: 600px;
}

.title {
  text-align: start;
}

.tabs {
  display: flex;
  list-style-type: none;
  /* justify-content: space-around; */
}

.ingredientsList {
  padding-left: 0;
  list-style-type: none;

  height: 750px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.groupTitle {
  text-align: start;
}

.groupList {
  list-style-type: none;
  padding-left: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  position: relative;

  width: 268px;
}

/* .card:nth-of-type(odd) {
  margin-right: 24px;
} */

.priceContainer {
  display: flex;
  justify-content: center;
}
.price {
  /* text-align: center; */
  margin-right: 8px;
}

.cardName {
  height: 50px;
}