.header {
  background: #1C1C21;
  height: 90px;

  /* TODO remove border */
  border: 1px solid greenyellow;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  /* TODO remove border */
  border: 1px solid orange
}

.menu a {
  color: white;
  text-decoration: none;
  text-align:center;

}

.menu li {
  display: flex;
}

.burgerConstructor {
  flex: 1;
  justify-content: flex-end;
}

.orders {
  flex: 1;
}

.logo {
  flex: 1;
}

.profile {
  flex: 2;
  justify-content: center;
}
